:root {
    --purple: #6f42c1;
    --light-purple: #8c68cd;
    --pink: #d63384;
    --light-pink: #de5c9d;
    --red: #dc3545;
    --light-red: #e35d6a;
    --orange: #fd7e14;
    --light-orange: #fd9843;
    --yellow: #ffc107;
    --light-yellow: #ffcd39;
    --green: #198754;
    --light-green: #479f76;
}

body {
    font: 300 1em "Fira Sans", sans-serif;
    background-color: #fafafa;
}

main {
    width: 100%;
    height: 100vh;
    /* se posiciona a la ventana del navegador de manera relativa*/
    /* mantiene el mismo lugar incluso después de hacer scroll en la página*/
    position: fixed;
}

.introduction h5 {
    font-weight: normal;
}


/* buttons */

.buttons button.btn {
    background: none;
    color: var(--purple);
    margin: 0 3em;
    padding: 1em 2em;
    border-radius: 0;
    transition: ease 0.6s;
}

.buttons button.btn:hover {
    color: white;
}

.buttons button.btn.purple {
    border: 2px solid var(--purple);
    color: var(--purple);
}

.buttons button.btn.purple:hover {
    border: 2px solid var(--light-purple);
}

.buttons button.btn.pink {
    border: 2px solid var(--pink);
    color: var(--pink);
}

.buttons button.btn.pink:hover {
    border: 2px solid var(--light-pink);
}

.buttons button.btn.red {
    border: 2px solid var(--red);
    color: var(--red);
}

.buttons button.btn.red:hover {
    border: 2px solid var(--light-red);
}

.buttons button.btn.orange {
    border: 2px solid var(--orange);
    color: var(--orange);
}

.buttons button.btn.orange:hover {
    border: 2px solid var(--light-orange);
}

.buttons button.btn.yellow {
    border: 2px solid var(--yellow);
    color: var(--yellow);
}

.buttons button.btn.yellow:hover {
    border: 2px solid var(--light-yellow);
}

.buttons button.btn.green {
    border: 2px solid var(--green);
    color: var(--green);
}

.buttons button.btn.green:hover {
    border: 2px solid var(--light-green);
}

.btn-result {
    margin: 3rem;
    /*se comporta como fixed pero es relativo a su ancestro posicionado más cercano en lugar de ser relativo a la ventana del navegador*/
    position: absolute;
}


/*events*/

.dblcick-text {
    margin-left: 11rem;
}

.hover-text {
    margin-left: 27rem;
}

.keydown-text {
    margin-left: 39rem;
}

.focus-text {
    margin-left: 53.9rem;
}

.mouseleave-text {
    margin-left: 68rem;
}

.drawer {
    transform: perspective( 600px) rotateX( 25deg);
    /*perspective establece la distancia entre el usuario y el plano en y, si el elemento fuera 3d*/
}

.hide {
    display: none;
}